<content>
	<!-- left side controls -->
	<div class="left-controls">
		
	</div>

	<!-- right side controls -->
	<div class="right-controls">
		
	</div>

	<!-- bottom controls -->
	<div class="bottom-controls">
		<!-- progress bar -->
		<div class="progress">
			<span class="time-played">1:09</span>
			<span class="progress-played"></span>
			<span class="time-total">4:25</span>
		</div>
		
		<span class="btn-random" data-click="play-random">
			<i class="icon-player-random"></i>
		</span>
		<span class="btn-prev" data-click="play-prev">
			<i class="icon-player-previous"></i>
		</span>
		<span class="btn-play" data-click="toggle-play">
			<i class="icon-player-play"></i>
		</span>
		<span class="btn-next" data-click="play-next">
			<i class="icon-player-next"></i>
		</span>
		<span class="btn-repeat" data-click="play-repeat">
			<i class="icon-player-repeat"></i>
		</span>
	</div>
</content>
