<layout>
	<!-- top title bar -->
	<div class="top-title">
		<span class="band-name">Stereo MC's</span>
		<span class="song-name">Elevate My Mind</span>
	</div>

	<!-- left side controls -->
	<div data-area="sidebar">
		<div class="top">
			<span class="ctrl-navigation">
				<span title="Go Back" data-click="go-back">
					<i class="icon-chevron-left"></i>
				</span>
				<span title="Go Forward" data-click="go-forward">
					<i class="icon-chevron-right"></i>
				</span>
			</span>
			<span class="ctrl-home" title="Home" data-click="go-home">
				<i class="icon-home"></i>
			</span>
			<span class="ctrl-library" title="Library" data-click="toggle-library">
				<i class="icon-library"></i>
			</span>
			<span class="ctrl-search" title="Search" data-click="go-search">
				<i class="icon-search"></i>
			</span>
		</div>
	</div>

	<!-- left side controls -->
	<div data-area="volume">
		<div class="top">
		</div>
		<div class="bottom">
			<div class="ctrl-range">
				<span class="volume-track">
					<span class="volume-amount"></span>
					<span class="knob"></span>
				</span>
			</div>

			<span class="ctrl-volume" data-click="toggle-volume">
				<i class="icon-volume"></i>
			</span>
		</div>
	</div>

	<!-- bottom controls -->
	<div data-area="player">
		<!-- progress bar -->
		<div class="progress">
			<span class="time-played">1:09</span>
			<span class="progress-track">
				<span class="progress-played"></span>
				<span class="knob"></span>
			</span>
			<span class="time-total">4:25</span>
		</div>

		<span class="ctrl-random" data-click="play-random">
			<i class="icon-player-random"></i>
		</span>
		<span class="ctrl-prev" data-click="play-prev">
			<i class="icon-player-previous"></i>
		</span>
		<span class="ctrl-play" data-click="toggle-play">
			<i class="icon-player-play"></i>
		</span>
		<span class="ctrl-next" data-click="play-next">
			<i class="icon-player-next"></i>
		</span>
		<span class="ctrl-repeat" data-click="play-repeat">
			<i class="icon-player-repeat"></i>
		</span>
	</div>

	<content>
		<div data-area="panel">
			<!-- <div class="wrapper">
				<h2>Playlists</h2>
				<ul data-click="select-playlist">
					<li class="item"><h5>Reggae</h5></li>
					<li class="item"><h5>70s, 80s</h5></li>
					<li class="item"><h5>Jazz &amp; Blues</h5></li>
					<li class="item"><h5>chillout 2</h5></li>
					<li class="item"><h5>Chillout</h5></li>
					<li class="item"><h5>Friday</h5></li>
					<li class="item"><h5>Southern Gothic</h5></li>
					<li class="item"><h5>Sv Klassiker</h5></li>
					<li class="folder">
						<h5>Hiphop</h5>
						<div class="list-wrapper">
							<ul>
								<li class="item active"><h5>Sv. Hiphop</h5></li>
								<li class="item"><h5>Hiphop</h5></li>
								<li class="item"><h5>Turkisk Hiphop</h5></li>
							</ul>
						</div>
					</li>
					<li class="item"><h5>Turkisk</h5></li>
					<li class="item"><h5>Rock</h5></li>
					<li class="item"><h5>House</h5></li>
				</ul>
			</div> -->
		</div>

		<div class="body" data-area="content">
			<!-- Content goes here -->
		</div>
	</content>
</layout>
