<content>
	<!-- top title bar -->
	<div class="top-title">
		<span class="band-name">Metallica</span>
		<span class="song-name">Nothing Else Matters</span>
	</div>

	<!-- left side controls -->
	<div class="left-controls">
		<span class="ctrl-home" data-click="go-to-home">
			<i class="icon-home"></i>
		</span>
		<span class="ctrl-browse" data-click="go-to-browse">
			<i class="icon-browse"></i>
		</span>
		<span class="ctrl-radio" data-click="go-to-radio">
			<i class="icon-radio"></i>
		</span>
	</div>

	<!-- right side controls -->
	<div class="right-controls">
		<span class="ctrl-volume" data-click="toggle-volume">
			<i class="icon-volume"></i>
		</span>
	</div>

	<!-- bottom controls -->
	<div class="bottom-controls">
		<!-- progress bar -->
		<div class="progress">
			<span class="time-played">1:09</span>
			<span class="progress-track">
				<span class="progress-played"></span>
			</span>
			<span class="time-total">4:25</span>
		</div>

		<span class="ctrl-random" data-click="play-random">
			<i class="icon-player-random"></i>
		</span>
		<span class="ctrl-prev" data-click="play-prev">
			<i class="icon-player-previous"></i>
		</span>
		<span class="ctrl-play" data-click="toggle-play">
			<i class="icon-player-play"></i>
		</span>
		<span class="ctrl-next" data-click="play-next">
			<i class="icon-player-next"></i>
		</span>
		<span class="ctrl-repeat" data-click="play-repeat">
			<i class="icon-player-repeat"></i>
		</span>
	</div>
</content>
