
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~/fonts/Lato-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~/fonts/Lato.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* App UI */
background-color: rgba(0,0,0,.8);
backdrop-filter: blur(21px);
border-radius: 29px;

.win-caption-buttons_ {
	top: 7px;
	left: 27px;
	width: 56px;

	btn {
		width: 13px;
		height: 13px;
		top: 1px;

		span {
			width: 9px;
			height: 9px;
		}

		&:nth-child(1) { left: 2px; }
		&:nth-child(2) { left: 23px; }
		&:nth-child(3) { left: 44px; }
	}
}

&.antwin-headless_ .win-body_ {
	background: transparent;
	font-family: "Lato", sans-serif;
	font-size: 13px;
	overflow: visible;
	box-shadow: inset 0 0 0 27px #000;
    border-radius: inherit;
}

&:hover {
	div[class*="-controls"] {
		.active i[class^="icon-"] {
			opacity: 1;
		}

		i[class^="icon-"] {
			opacity: .5;
		}
	}

	div[data-area="volume"] .ctrl-range .volume-track,
	.progress .progress-track {
		background: #555;
	}

	div[data-area="volume"] .ctrl-range .volume-track .volume-amount,
	.progress .progress-track .progress-played {
		background: #00ea89;
	}
}


i[class^="icon-"] {
	width: 17px;
	height: 17px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: inline-block;
	opacity: .3;
	transition: opacity 200ms ease-in-out;

	&.icon-home     { background-image: url(~/icons/icon-home.png); }
	&.icon-browse   { background-image: url(~/icons/icon-browse.png); }
	&.icon-radio    { background-image: url(~/icons/icon-radio.png); }
	&.icon-queue    { background-image: url(~/icons/icon-queue.png); }
	&.icon-devices  { background-image: url(~/icons/icon-devices.png); }
	&.icon-volume   { background-image: url(~/icons/icon-volume.png); }

	&.icon-player-random   { background-image: url(~/icons/icon-random.png); }
	&.icon-player-previous { background-image: url(~/icons/icon-previous.png); }
	&.icon-player-play     { background-image: url(~/icons/icon-play.png); }
	&.icon-player-next     { background-image: url(~/icons/icon-next.png); }
	&.icon-player-repeat   { background-image: url(~/icons/icon-repeat.png); }

	&.icon-clock       { background-image: url(~/icons/icon-clock.png); }
	&.icon-heart       { background-image: url(~/icons/icon-heart.png); }
	&.icon-heart-full  { background-image: url(~/icons/icon-heart-full.png); }
}

layout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.top-title {
	position: absolute;
	top: 1px;
	left: 37px;
	right: 37px;
	height: 22px;
	padding: 6px 0 0;
	text-align: center;

	.band-name {
		color: #999;

		&:after {
			content: "-";
			display: inline-block;
			padding: 0 5px;
		}
	}

	.song-name {
		color: #bbb;
	}
}

div[data-area="sidebar"],
div[data-area="volume"] {
	// background: rgba(100,100,100,.2);
	position: absolute;
	top: 29px;
	bottom: 29px;
	left: 1px;
	width: 24px;
	padding: 3px 0 0 1px;
	display: flex;
	flex-flow: column;

	.top {
		flex: 1;
	}

	.bottom {

	}

	> div > span {
		display: inline-block;
		padding: 3px;
		margin: 1px 0;
		cursor: pointer;

		&.active {
			i[class^="icon-"] {
				opacity: .5;
				filter: none;
			}
		}

		&:hover i[class^="icon-"] {
			opacity: 1;
		}

		i[class^="icon-"] {
			filter: grayscale();
			width: 17px;
			height: 17px;
		}
	}

	.ctrl-range {
		// background: rgba(255,255,255,.2);
		position: relative;
		top: 0;
		left: 3px;
		width: 20px;
		height: 83px;
		margin-bottom: 7px;

		&:hover {
			.volume-track {
				.knob {
					opacity: 1;
				}
			}
		}

		.volume-track {
			background: #333;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 7px;
			width: 2px;
			border-radius: 5px;
			transition: background 150ms ease-in-out;
			
			.volume-amount {
				background: #008951;
				position: absolute;
				bottom: 0;
				height: 31%;
				width: inherit;
				border-radius: inherit;
				transition: background 150ms ease-in-out;
			}

			.knob {
				background: #f7f7f7;
				position: absolute;
				top: -5px;
				left: -4px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				box-shadow: 0 1px 1px rgba(0,0,0,.35);
				cursor: ns-resize;
				opacity: 0;
				transition: opacity 150ms ease-in-out;
			}
		}
	}
}

div[data-area="volume"] {
	left: auto;
	right: 1px;
}

div[data-area="player"] {
	// background: rgba(100,100,100,.2);
	position: absolute;
	bottom: 1px;
	left: 31px;
	right: 31px;
	height: 24px;
	padding-top: 1px;
	text-align: center;
	font-size: 0;

	> span {
		display: inline-block;
		padding: 5px;
		margin: 0 2px;
		cursor: pointer;

		&:hover i[class^="icon-"] {
			opacity: 1;
		}

		i[class^="icon-"] {
			width: 13px;
			height: 13px;
		}
	}

	&:hover .progress	{
		top: -9px;
		height: 9px;

		&:before,
		&:after,
		.time-played,
		.time-total {
			font-size: 10px;
			line-height: 1;
			opacity: 1;
		}

		.progress-track {
			top: 4px;
			height: 3px;
			left: 29px;
			right: 29px;
			cursor: pointer;
		}

		.knob {
			opacity: 1;
		}
	}
}

.progress {
	background: #000;
	position: absolute;
	top: -2px;
	left: -4px;
	right: -4px;
	height: 2px;
	z-index: 99;
	transition: 150ms ease-in-out;

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: -4px;
		left: 0;
		width: 4px;
		height: 4px;
		background: url(~/icons/icon-rounded-corner.png) 0 100% no-repeat;
		opacity: 0;
		transition: opacity 150ms ease-in-out;
	}

	&:after {
		left: auto;
		right: 0;
		transform: rotateY(180deg);
	}

	.time-played,
	.time-total {
		// background: rgba(100,100,100,.2);
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		color: #fff;
		font-size: 0;
		line-height: 2;
		text-align: center;
		opacity: 0;
		transition: 150ms ease-in-out;

		&.time-total {
			left: auto;
			right: 0;
		}
	}

	.progress-track {
		background: #444;
		position: absolute;
		top: 0px;
		left: 2px;
		right: 2px;
		height: 2px;
		border-radius: 5px;
		transition: 150ms ease-in-out;

		.progress-played {
			background: #008951;
			position: absolute;
			top: 0;
			left: 0;
			width: 31%;
			height: inherit;
			display: inline-block;
			border-radius: inherit;
			pointer-events: none;
			transition: background 150ms ease-in-out;
		}

		.knob {
			background: #f7f7f7;
			position: absolute;
			top: -5px;
			right: -4px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			box-shadow: 1px 0 1px rgba(0,0,0,.35);
			pointer-events: all;
			cursor: ew-resize;
			opacity: 0;
			transition: opacity 150ms ease-in-out;
		}
	}
}

content {
	position: absolute;
	top: 27px;
	left: 27px;
	right: 27px;
	bottom: 27px;
	border-radius: 3px;
	overflow: hidden;
}

div[data-area="panel"] {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 190px;
	z-index: 98;
	border-radius: inherit;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 7px 17px;
	background-color: rgba(10,25,10,.925);
	backdrop-filter: blur(9px);
	clip-path: inset(0px -7px 0px 0);
	color: #bbb;
	box-shadow: 0 0 0;
	transform: translateX(-100%);
	transition: 200ms ease-in-out;

	&.show {
		transform: translateX(0%);
		box-shadow: 2px 0 7px rgba(0,0,0,.5);
	}

	h2 {
		font-size: 11px;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 5px 0 7px;
		color: #777;
	}

	h5 {
		font-size: 13px;
		padding: 5px 0 5px;
		cursor: pointer;
		pointer-events: none;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			position: relative;

			&:not(.expanded):hover > h5 {
				color: #fff;
			}

			&.active {
				> h5 {
					color: #00ea89;
				}

				&:before {
					content: "";
					position: absolute;
					top: 8px;
					left: -12px;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: #00ea89;
					pointer-events: none;
				}
			}

			&.folder {
				&:after {
					content: "";
					position: absolute;
					top: 5px;
					right: -3px;
					width: 10px;
					height: 10px;
					opacity: .75;
					cursor: pointer;
					background: url(~/icons/icon-chevron-left.png) 50% 50% no-repeat;
					transition: transform 120ms ease-in-out;
				}

				&.expanded {
					&:after {
						transform: rotate(90deg);
					}

					.list-wrapper ul {
						margin-top: 0;
					}
				}

				&:hover:after {
					opacity: 1;
				}
			}
		}

		.list-wrapper {
			position: relative;
			overflow: hidden;
			max-height: 100%;
			transition: all 300ms ease-in-out;

			ul {
				padding: 0 0 0 13px;
				margin-top: -100%;
				transition: inherit;
			}
		}
	}
}

.body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	color: #bbb;
	font-weight: 100;
	line-height: 1.8;
	display: flex;
	flex-direction: column;

	.playlist-head {
		height: 83px;
		padding: 23px 19px;

		h2 {
			display: inline-block;
			vertical-align: middle;
			font-size: 27px;
			color: #eee;
		}

		.albums {
			background-size: 0;
			background-repeat: no-repeat;
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			margin-right: 42px;

			&:hover {
				.album:not(:last-child) {
					margin-right: 7px;
				}
			}

			.album {
				background-image: inherit;
				background-size: 200%;
				background-repeat: no-repeat;
				position: relative;
				width: 47px;
				height: 47px;
				border-radius: 50%;
				box-shadow: inset 0 0 0 2px rgba(200,200,200,.85),
							2px 2px 5px rgba(0,0,0,.5);
				display: inline-block;
				margin-right: -29px;
				transition: margin-right 150ms ease-in-out;

				&:nth-child(1) { z-index: 4; background-position: 0 0; }
				&:nth-child(2) { z-index: 3; background-position: 100% 0; }
				&:nth-child(3) { z-index: 2; background-position: 0 100%; }
				&:nth-child(4) { z-index: 1; background-position: 100% 100%; }
			}
		}
	}

	.table {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		padding: 5px 0 0;

		i[class^="icon-"] {
			width: 15px;
			height: 15px;
			vertical-align: top;

			&.icon-player-play {
				position: relative;
				top: -1px;
				width: 17px;
				height: 17px;
				margin-right: 7px;
				background-size: 43% 43%;
				cursor: pointer;
				opacity: 0;
				transition: opacity 120ms ease-in-out;

				&:before {
					content: "";
					position: absolute;
					top: -2px;
					left: -2px;
					right: -2px;
					bottom: -2px;
					border: 2px solid #fff;
					border-radius: 50%;
				}

				&:hover {
					opacity: 1;
				}
			}
		}

		.table-body {
			position: relative;
			overflow-y: auto;
			flex: 1;
			padding-bottom: 21px;
		}

		.row {
			display: flex;
			margin: 0 19px;
			border-bottom: 1px solid #66666640;

			&:hover:not(.head) {
				color: #fff;
				background: #66666630;

				.icon-player-play {
					opacity: .5;
				}
			}

			&.head {
				height: 31px;
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: 1px;
				color: #777;

				.cell i.icon-clock {
					margin: -1px 3px -3px 0;
				}
			}

			&.playing {
				color: #00ea89;

				.cell:nth-child(1):before {
					content: "";
					display: inline-block;
					width: 13px;
					height: 13px;
					background: url(~/icons/icon-volume.png) 0 0 no-repeat;
					opacity: .25;
					margin-top: 1px;
					margin-right: 11px;
					vertical-align: top;
				}
			}
		}

		.cell {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			padding: 7px 3px 5px;

			&:nth-child(1) {
				width: 59px;
				text-align: right;
				padding: 11px 11px 0 0;
			}
			&:nth-child(2) { flex: 1; min-width: 21%; }
			&:nth-child(3) { width: 180px; }
			&:nth-child(4) { width: 160px; }
			&:nth-child(5) { width: 50px; text-align: right; padding-right: 7px; }
		}
	}
}
