
<section class="artist">
	<div class="artist-head">
		<div class="artist-image" style="background-image: url(~/img/mosaic.jpeg);"></div>
		<h2>
			Stereo MC's
			<div class="genre">
				<span>big beat</span>
				<span>electronica</span>
				<span>hip house</span>
			</div>
		</h2>
	</div>

	<div class="tabs">
		<span>Top Tracks</span>
		<span class="active">Albums</span>
		<span>About</span>
		<span>Fans Also Like</span>
	</div>

	<div class="artist-body">
		<div class="artist-albums">
			<h3>Albums (17)</h3>

			<div class="album">
				<div class="album-cover" style="background-image: url(~/img/stereo-mcs.jpg);"></div>
				<div class="album-info">
					<span class="album-year">2016</span>
					<h4>Deeper/Turnaround Remixes</h4>
				</div>
			</div>

			<div class="table enum">
				<div class="row head">
					<div class="cell"></div>
					<div class="cell">Title</div>
					<div class="cell"></div>
				</div>
				<div class="table-body">
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart"></i>
						</div>
						<div class="cell">Ground Level</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row playing">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart-full"></i>
						</div>
						<div class="cell">I feel You</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart-full"></i>
						</div>
						<div class="cell">Elevate My Mind</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart-full"></i>
						</div>
						<div class="cell">Connected</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart"></i>
						</div>
						<div class="cell">Step It Up</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart"></i>
						</div>
						<div class="cell">Ground Level</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart-full"></i>
						</div>
						<div class="cell">I feel You</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart-full"></i>
						</div>
						<div class="cell">Elevate My Mind</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart-full"></i>
						</div>
						<div class="cell">Connected</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart"></i>
						</div>
						<div class="cell">Ground Level</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart-full"></i>
						</div>
						<div class="cell">I feel You</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart-full"></i>
						</div>
						<div class="cell">Elevate My Mind</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
					<div class="row">
						<div class="cell">
							<i class="icon-player-play"></i>
							<i class="icon-heart-full"></i>
						</div>
						<div class="cell">Connected</div>
						<div class="cell"><i class="icon-bars"></i></div>
					</div>
				</div>
			</div>

			<div class="album">
				<div class="album-cover" style="background-image: url(~/img/stereo-mcs-2.jpg);"></div>
				<div class="album-info">
					<span class="album-year">2008</span>
					<h4>Double Bubble</h4>
				</div>
			</div>

			<div class="album">
				<div class="album-cover" style="background-image: url(~/img/stereo-mcs-3.jpg);"></div>
				<div class="album-info">
					<span class="album-year">2008</span>
					<h4>Live at The BBC</h4>
				</div>
			</div>
		</div>
	</div>
</section>
