
<section class="artist">
	<div class="artist-head">
		<div class="artist-image" style="background-image: url(~/img/mosaic.jpeg);"></div>
		<h2>
			Stereo MC's
			<div class="genre">
				<span>big beat</span>
				<span>electronica</span>
				<span>hip house</span>
			</div>
		</h2>
	</div>

	<div class="tabs">
		<span>Top Tracks</span>
		<span>Albums</span>
		<span class="active">About</span>
		<span>Fans Also Like</span>
	</div>

	<div class="artist-body">
		<div class="table">
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart"></i>
				</div>
				<div class="cell">Ground Level</div>
				<div class="cell">Connected</div>
				<div class="cell">24,255,634</div>
			</div>
			<div class="row playing">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart-full"></i>
				</div>
				<div class="cell">I feel You</div>
				<div class="cell">Paradise</div>
				<div class="cell">5,753,228</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart-full"></i>
				</div>
				<div class="cell">Elevate My Mind</div>
				<div class="cell">Paradise</div>
				<div class="cell">4,1126,151</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart-full"></i>
				</div>
				<div class="cell">Connected</div>
				<div class="cell">Supernatural</div>
				<div class="cell">1,659,818</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart"></i>
				</div>
				<div class="cell">Step It Up</div>
				<div class="cell">Connected</div>
				<div class="cell">1,191,269</div>
			</div>

			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart"></i>
				</div>
				<div class="cell">Ground Level</div>
				<div class="cell">Connected</div>
				<div class="cell">24,255,634</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart-full"></i>
				</div>
				<div class="cell">I feel You</div>
				<div class="cell">Paradise</div>
				<div class="cell">5,753,228</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart-full"></i>
				</div>
				<div class="cell">Elevate My Mind</div>
				<div class="cell">Paradise</div>
				<div class="cell">4,1126,151</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart-full"></i>
				</div>
				<div class="cell">Connected</div>
				<div class="cell">Supernatural</div>
				<div class="cell">1,659,818</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart"></i>
				</div>
				<div class="cell">Step It Up</div>
				<div class="cell">Connected</div>
				<div class="cell">1,191,269</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart"></i>
				</div>
				<div class="cell">Ground Level</div>
				<div class="cell">Connected</div>
				<div class="cell">24,255,634</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart-full"></i>
				</div>
				<div class="cell">I feel You</div>
				<div class="cell">Paradise</div>
				<div class="cell">5,753,228</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart-full"></i>
				</div>
				<div class="cell">Elevate My Mind</div>
				<div class="cell">Paradise</div>
				<div class="cell">4,1126,151</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart-full"></i>
				</div>
				<div class="cell">Connected</div>
				<div class="cell">Supernatural</div>
				<div class="cell">1,659,818</div>
			</div>
			<div class="row">
				<div class="cell">
					<i class="icon-player-play"></i>
					<i class="icon-heart"></i>
				</div>
				<div class="cell">Step It Up</div>
				<div class="cell">Connected</div>
				<div class="cell">1,191,269</div>
			</div>
		</div>
	</div>
</section>
